::ng-deep .mat-stepper-horizontal,
::ng-deep .mat-stepper-vertical {
  background-color: transparent;
}

:host ::ng-deep { 
  .mat-step-header {
    width: 100%;
    padding: 0 10px;
  }

  .mat-horizontal-stepper-header .mat-step-icon {
    margin-right: 0 !important;
  }

  .mat-step-label {
    display: none;
  }

  .mat-stepper-horizontal-line {
    min-width: 0 !important;
    margin: 0 !important;
  }
}