<div class="container">
  <div class="header">
    <img class="img" src="../../../assets/images/login-plane.png" />
    <img class="logo" src="../../../assets/logo.PNG" />
  </div>
  <div class="form-container">
    <ng-container *ngIf="!token; else newPassword">
      <div class="input-container">
        <span class="label">Email</span>
        <div class="input-field">
          <input #emailInput placeholder="Enter your Email" />
          <mat-icon class="input-icon">alternate_email</mat-icon>
        </div>
      </div>
      <div class="submit-container">
        <button
          (click)="onSubmitForgotPassword(emailInput.value)"
          [disabled]="loading"
          style="direction: rtl"
          mat-raised-button
          color="primary"
        >
          Reset password
          <mat-icon
            style="margin-inline-start: 10px; padding-bottom: 3px"
            *ngIf="loading"
            ><mat-spinner color="accent" diameter="20"></mat-spinner
          ></mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-template #newPassword>
      <div class="input-container">
        <span class="label">New Password</span>
        <div class="input-field">
          <input #passwordInput placeholder="Enter your new password" type="password" />
          <mat-icon class="input-icon">lock</mat-icon>
        </div>
      </div>
      <div class="input-container">
        <span class="label">Confirm Password</span>
        <div class="input-field">
          <input #confirmPasswordInput placeholder="Confirm your password" type="password" />
          <mat-icon class="input-icon">lock</mat-icon>
        </div>
      </div>
      <div class="submit-container">
        <button
          (click)="onSubmitNewPassword(passwordInput.value, confirmPasswordInput.value)"
          [disabled]="loading"
          style="direction: rtl"
          mat-raised-button
          color="primary"
        >
          Reset password
          <mat-icon
            style="margin-inline-start: 10px; padding-bottom: 3px"
            *ngIf="loading"
            ><mat-spinner color="accent" diameter="20"></mat-spinner
          ></mat-icon>
        </button>
      </div>
    </ng-template>
    <span class="error-alert" *ngIf="errorAlert"
      >The email or password you entered is incorrect</span
    >
    <span class="error-alert" *ngIf="passwordErrorAlert"
      >{{passwordErrorAlertMessage}}</span
    >

    <button class="back-button" mat-button mat-raised-button (click)="back()"><mat-icon>undo</mat-icon>Back</button>
  </div>
</div>
